/* login page  */
*{
    padding: 0;
    margin: 0;
    box-sizing: bor;
}


body{
    font-family: 'Fredoka One', cursive;

}


header{
    text-align: center;
    padding: 2%;
    color: red;
}

header span{
    color: rgb(75, 75, 255);
}
.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.main-container img{
    height: 260px;
    width: 280px;
    padding: 2%;
}

input{
    background-color: white;
    width: 30%;
    height: 40px;
    padding: 5px 15px;
    font-size: 20px;
    border-radius: 10px;
    margin: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}

#email-fild{
    margin-top: 15px;
}

#password-fild{
    margin-bottom: 15px;
}

#login-button{
    padding: 15px 30px;
    background-color: rgba(0, 0, 255, 0.676);
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 25px;
    font-family: 'Fredoka One', cursive;
    cursor: pointer;
}

#login-button:hover{
    background-color: blue;
}

/* footer */
footer{
    background-color: black;
    color: white;
    text-align: center;
}

.copyright{
    padding-top: 20px;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}

.fa-brands {
    padding: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s;
  }
  .fa-brands:hover {
    font-size: 25px;
  }


  /* mobile responcesive */


  @media only screen and (max-width: 900px) {
        .main-container img{
            height: 240px;
            width: 260px;
        }

        input{
            width: 80%;
        }
        #login-button{
            margin: 25px        }

  }





